Django==6.0.3
psycopg2-binary
python-dotenv
langchain-community
langchain-huggingface
chromadb
gigachat
sentence-transformers
unstructured[md]
langchain-text-splitters
python-dotenv
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
idna==3.11
python-dotenv==1.2.2
requests==2.32.5
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
langchain-huggingface
langchain-community
langchain-text-splitters
gigachat
python-dotenv
unstructured
django-cors-headers